#Contaner-Button {
     display: flex;
     justify-content: center;
     width: 100%;
}
#Card-count {
    display: inline-block;
    padding: 1px 5px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #d3b7d4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
    margin-top: 5px;
}



.Card-count-Energy {
    display: inline-block;
    padding: 1px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #d3b7d4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
    margin-top: 5px;
}

